@use "./breakpoints.scss" as *;
@use "./fonts.scss" as *;

body {
  margin: 0;
  font-family: avenir-Next-Reg;
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    @include tabletscreen {
      font-size: 2.5rem;
      line-height: 4.25rem;
    }
    @include computerscreen {
      font-size: 4rem;
      line-height: 4.25rem;
    }
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    @include tabletscreen {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  h3 {
    font-size: 0.813rem;
    line-height: 1.375rem;
    font-weight: 600;
    @include tabletscreen {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tabletscreen {
      line-height: 1.375rem;
    }
  }
  footer {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 400;
    @include tabletscreen {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  a,
  button {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
