$footer-header-colour: #323232;
$footer-header-colour-text: #FFFFFF;

$mobile-margin-16: 16px;
$mobile-margin-24: 24px;

$bigscreen-margin-36: 36px;
$bigscreen-margin-48: 48px;

@font-face {
    font-family: AvenirNext;
    src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}

