/*Default settings is mobile, work around that*/
$footer-header-colour: #323232;
$footer-header-colour-text: #FFFFFF;

body{
    font-family:avenir next; /*figure out where/how to name this font cause its some weird avon stuff.*/
}

header {
    background-color: $footer-header-colour;
    color: $footer-header-colour-text;
    display: flex;
    flex-direction: column;
    justify-content: center; /*this code needs to shut down when in desktop mode*/
    .logo{
        img{
            width: fit-content;
            margin: 50px;
        }   
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 30px;
        a{
            text-decoration: none;
            color: $footer-header-colour-text;
            display: flex;
        }
        
    }
    img{
        width: 100%;
    }
}