@charset "UTF-8";
/*Default settings is mobile, work around that*/
/*todo list of things to do: (woah a checkmark!>✔️)
30th:
 - finish redoing the media styles.✔️
 - make media styles for PC✔️
 - put text over image (almost done!!!!) ✔️
 - get the galery working like in the example (May skip depending on how much i can finish on the train and how much energy i have)
 - pet cat ✔️
 1st:
 - FUCK YOU DIDNT USE THE VARIABLES, GO THOUGH AND MATH THE REMS FOR HOW BIG THE MARGIN IS...
   OR ASK IF ITS OKAY TO DROP THE VARIABLE MARGINS (IT MIGHT NOT)
 - If the galery isnt complete by 30th continue working on it
 - get the band photo above the bio complete and formated and all pretty
 - Confgire the fonts to change size and set all the fonts properly
 - pet cat
 2nd:
 - start footer
 - ????
 - finish footer
 - pet cat
 - proffit
*/
@font-face {
  font-family: AvenirNext;
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}
body {
  font-family: AvenirNext;
}

header {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  /*#################################### TOP BAR ####################################*/
}
header .topbar {
  display: flex;
  flex-direction: column;
  /*#################################### NAV ####################################*/
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .topbar {
    flex-direction: row;
    height: 5rem;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  header .topbar {
    flex-direction: row;
    height: 5rem;
    align-items: center;
  }
}
header .topbar img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .topbar img {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    margin-left: 2.5rem;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  header .topbar img {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    margin-left: 2.5rem;
    margin-right: 5rem;
  }
}
header .topbar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*#################################### NAV LINKS ####################################*/
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .topbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  header .topbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
header .topbar nav a {
  text-decoration: none;
  color: #ffffff;
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
header .topbar nav .current-page {
  border-bottom: 0.25rem solid white;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .topbar nav .current-page {
    border-bottom: 4px solid white;
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  header .topbar nav .current-page {
    border-bottom: 4px solid white;
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
  }
}
header .picture-title {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  header .picture-title {
    height: 30vh;
    padding: 0.5rem; /*mobile format, 8px*/
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .picture-title {
    height: 48vh;
    padding: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  header .picture-title {
    height: 100vh;
    padding: 10rem;
  }
}/*# sourceMappingURL=bio.css.map */