/*Default settings is mobile, work around that*/
/*todo list of things to do: (woah a checkmark!>✔️)
30th:
 - finish redoing the media styles.✔️
 - make media styles for PC✔️
 - put text over image (almost done!!!!) ✔️
 - get the galery working like in the example (May skip depending on how much i can finish on the train and how much energy i have)
 - pet cat ✔️
 - get the band photo above the bio complete and formated and all pretty
 1st:
 - Ask the staff for how BEM works/how to implement it✔️
 - FUCK YOU DIDNT USE THE VARIABLES, GO THOUGH AND MATH THE REMS FOR HOW BIG THE MARGIN IS...✔️ (Can skip!!!)
   OR ASK IF ITS OKAY TO DROP THE VARIABLE MARGINS (IT MIGHT NOT)✔️
 - If the galery isnt complete by 30th continue working on it✔️
 - Confgire the fonts to change size and set all the fonts properly <--------- FINISH THIS!!!!
 - pet cat
 2nd:
 - start footer
 - ????
 - finish footer
 - pet cat
 - proffit
*/
@use "./partials/variables&fonts.scss" as *;
@use "./partials/breakpoints.scss" as *;

body {
  font-family: AvenirNext;
  margin: 0; //ask how to make this less important so that it can be overridden
}
* {
  box-sizing: border-box;
}
header {
  background-color: $footer-header-colour;
  color: $footer-header-colour-text;

  display: flex;
  flex-direction: column;
  /*#################################### TOP BAR ####################################*/
  .topbar {
    display: flex;
    flex-direction: column;
    @include tabletscreen {
      flex-direction: row;
      height: 5rem;
      align-items: center;
    }
    @include computerscreen {
      flex-direction: row;
      height: 5rem;
      align-items: center;
    }
    &__img {
      margin-top: $mobile-margin-16;
      margin-bottom: $mobile-margin-16;
      margin-left: auto;
      margin-right: auto;
      @include tabletscreen {
        margin-top: $tablet-or-computer-margin-36;
        margin-bottom: $tablet-or-computer-margin-36;
        margin-left: 2.5rem;
        margin-right: 5rem;
      }
      @include computerscreen {
        margin-top: $tablet-or-computer-margin-36;
        margin-bottom: $tablet-or-computer-margin-36;
        margin-left: 2.5rem;
        margin-right: 5rem;
      }
      height: 1.25rem;
      width: 7.5rem;
    }
    /*#################################### NAV ####################################*/
    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      @include tabletscreen {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
      @include computerscreen {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
      /*#################################### NAV LINKS ####################################*/
    }
    &__link {
      text-decoration: none;
      color: $footer-header-colour-text;
      width: 50%;
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      &--current-page {
        border-bottom: 0.25rem solid white;
        @include tabletscreen {
          border-bottom: 4px solid white;
          padding-bottom: 1.75rem;
          padding-top: 1.75rem;
        }
        @include computerscreen {
          border-bottom: 4px solid white;
          padding-bottom: 1.75rem;
          padding-top: 1.75rem;
        }
      }
    }
  }
  .picture-title {
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    opacity: 60%;
    @include phonescreen {
      height: 30vh;
      padding: $mobile-margin-16;
    }
    @include tabletscreen {
      height: 48vh;
      padding: $tablet-or-computer-margin-48;
    }
    @include computerscreen {
      height: 48vh;
      padding: 10rem; //computer format, no fixed number so i thew in 160px
    }
  }
}

.musicians-article {
  margin: 1rem;
  &__img {
    margin: $mobile-margin-16;
    object-fit: contain;
    width: 96%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include tabletscreen {
      //margin: 122px;
      width: 78%;
    }
    @include computerscreen {
      margin-left: 122px;
      margin-right: 122px;
      width: 78%;
    }
  }
}

.photo-gallery {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h1 {
    padding-top: $mobile-margin-16;
    padding-left: $mobile-margin-16;
  }
  img {
    padding: $mobile-margin-16;
    width: 100%; //402px <--------------------------
    // margin-left: auto;
    //margin-right: auto;
    @include phonescreen {
      display: flex;
      justify-content: center;
    }
    @include tabletscreen {
      width: 28%;
      display: flex;
      flex-wrap: wrap;
    }
    @include computerscreen {
      width: 28%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
//what i could do is have lots of divs in the 3x3 format, having it like the below psudeocode:
/*
div
  div backround image
  div backround image
  div backround image
and then repeat this three times using a flex... one of the flexes to make all three rows happy and yappy, Most likely id use a
list here because its so much stuff and tis all in a un-ordered list anyway. yes i will use a list.
section
  li
    img
    img
    img
section
  li
    img
    img
    img
section
  li
    img
    img
    img

SASS:
section
  padding
  margin auto
  img:
   image size
  tablet styling:
    display flex
    row ordering
    align content center or somthin
    image size

*/
